.agents {
    padding-top: 30px;
    background: $grey;
    padding-bottom: 50px;


    @include mq('tablet', 'min') {
        margin-top: 50px;
        padding-top: 50px;
    }

    @include mq('desktop', 'min') {
        margin-top: 70px;
        padding-top: 50px;
    }

    h2 {
        font-size: 28px;

            @include mq('tablet', 'min') {
                font-size: 33px;
            }

            @include mq('desktop', 'min') {
                font-size: 40px;
            }

        span {
            display: block;
        }
    }

    .lead {
        margin-top: 20px;
        @include mq('tablet', 'min') {
            width: 42%;
            line-height: 1.5;
        }
    }

    &-container {
        margin-top: 30px;

        @include mq('phablet', 'min') {
            display: flex;
            justify-content: space-between;
        }

        .agent {
            width: 100%;
            background: #fff;
            box-shadow: 0 2.8px 2.2px rgba(0,0,0,.01),0 6.7px 5.3px rgba(0,0,0,.02),0 12.5px 10px rgba(0,0,0,.03),0 22.3px 17.9px rgba(0,0,0,.02),0 41.8px 33.4px rgba(0,0,0,.01),0 100px 80px rgba(0,0,0,.06);
            margin-bottom: 30px;

            @include mq('phablet', 'min') {
                width: calc(33.3% - 15px);
            }
            img {
                width: 100%;
                display: block;
            }

            p {
                padding: 20px;
                font-weight: 600;
                font-size: 15px;
            }

           &-info {
               padding: 0 20px 20px 20px;
               display: flex;
               justify-content: space-between;

               h3 {
                   font-size: 15px;
                   color: $yellow;
               }

               a {
                   svg {
                       width: 20px;
                       stroke: $dark;
                       margin-left: 20px;
                   }
               }
           }
        }
    }
}