footer {
    background: $dark;
    padding: 20px 0;
    color: $grey;

    @include mq('tablet', 'min') {
        padding: 50px 0;
    }

    .newsletter {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 40px;
        border-bottom: 2px solid rgba(lighten($dark, 60%), 0.4);
        margin-bottom: 30px;

        @include mq('tablet', 'min') {
            flex-direction: row;
            padding-bottom: 50px;
        }

        h2 {
            width: 100%;
            font-size: 20px;

            @include mq('phablet', 'min') {
                font-size: 25px;
            }

            @include mq('desktop', 'min') {
                font-size: 40px;
            }

            span {
                display: block;
            }
        }

        .form {
            width: 100%;
            text-align: right;
            display: flex;
            align-items: center;
            margin-top: 20px;
            // justify-content: flex-end;


            input {
                min-height: 40px;
                border: none;
                background: $grey;
                width: 100%;
                margin: 0;
                display: inline-block;
                text-indent: 20px;
                font-size: 14px;
                border-radius: 0;
            }

            button {
                border-radius: 0;
                display: inline-block;
                margin: 0;
                border: none;
                min-height: 40px;
                padding: 0 15px;
                cursor: pointer;
                background: $yellow;

                svg {
                    width: 30px;
                }
            }
        }
    }

    .links {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;


        @include mq('phablet', 'min') {
            flex-direction: row;
        }

        &-box {
            &:first-child {
                width: 100%;

                @include mq('desktop', 'min') {
                    width: calc(30% - 15px);
                }
            }

            width: calc(50% - 15px);

            @include mq('desktop', 'min') {
                width: calc(17.5% - 15px);
            }

            .siteTitle {
                font-size: 25px;
                font-weight: 600;
                margin-bottom: 20px;

                @include mq('phablet', 'min') {
                    margin-bottom: 30px;
                }
            }

            .copy {
                font-size: 14px;

                span {
                    display: block;
                }
            }

            .title {
                font-size: 13px;
                color: rgba(lighten($dark, 60%), 0.4);
                margin-bottom: 10px;
                margin-top: 30px;

                @include mq('desktop', 'min') {
                    margin-bottom: 30px;
                    margin-top: 0;
                }
            }

            ul {
                list-style: none;

                li {
                    margin-bottom: 15px;
                   a {
                        color: $grey;
                        text-decoration: none;
                   }
                }
            }
        }
    }
}