.hero {
    position: relative;
    width: 100%;
    padding-bottom: 30px;

    @include mq('phablet', 'min') {
        min-height: 300px;
    }

    @include mq('tablet', 'min') {
        margin-top: 30px;
        min-height: 450px;
        max-width: 768px;
        margin: 0 auto;
    }

    @include mq('desktop', 'min') {
        margin-top: 50px;
        min-height: 630px;
        max-width: 1170px;
        padding-bottom: 0;
    }

    &::after {
        content: '';
        background: rgba($blue, 0.8);
        position: absolute;
        top: 0;
        z-index: -1;
        height: 100%;

        width: 100%;

        @include mq('tablet', 'min') {
            width: 90%;
            right: -50px;
        }

        @include mq('desktop', 'min') {
            width: 85%;
            background: $blue;
        }
    }

    h1 {
        padding-top: 30px;
        font-size: 30px;

        @include mq('tablet', 'min') {
            font-size: 50px;
            padding-top: 60px;
        }

        @include mq('desktop', 'min') {
            padding-top: 140px;
            font-size: 80px;
        }

        span {
            display: block;
        }
    }

    &-search {
        margin-top: 30px;
        width: 100%;

        @include mq('phablet', 'min') {
            width: 70%;
        }

        @include mq('desktop', 'min') {
            margin-top: 50px;
        }

        input {
            min-height: 50px;
            width: 300px;
            border: 0;
            font-size: 16px;
            text-indent: 20px;
            background: #fafafa;
            width: 70%;
            border-radius: 0;

            @include mq('tablet', 'min') {
                width: 300px;
                min-height: 60px;
            }

            &:focus {
                outline: none;
            }
        }

        button {
            background: $yellow;
            min-height: 50px;
            border: 0;
            padding: 0 10px;
            font-size: 16px;
            font-weight: 600;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            cursor: pointer;
            width: 30%;
            border-radius: 0;

            @include mq('tablet', 'min') {
                width: auto;
                min-height: 60px;
                padding: 0 30px;
            }

            &:hover {
                background: darken($yellow, 5%);
            }
        }
    }

    &-contact {
        margin-top: 40px;

        @include mq('phablet', 'min') {
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
        }

        @include mq('desktop', 'min') {
            right: -50px;
        }

        .item {
            background: $yellow;
            display: flex;
            // justify-content: space-between;
            align-items: center;
            padding: 15px;
            font-weight: 600;
            margin-bottom: 20px;

            @include mq('phablet', 'min') {
                margin-bottom: 0;
                padding: 20px;
            }

            @include mq('tablet', 'min') {
                padding: 30px;
            }


            &:hover {
                background: $dark;

                p {
                    color: #fff;
                }

                svg {
                    stroke: #fff;
                }
            }

            &-icon {
                svg {
                    display: block;
                    width: 30px;
                    margin-right: 20px;
                }
            }
        }
    }

    &-scroll {
        display: none;

        @include mq('tablet', 'min') {
            display: block;
            position: absolute;
            left: -40px;
            bottom: 44px;
        }

        p {
            transform: rotate(-90deg);
            opacity: 0.3;
            transition: all .2s ease-in-out;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }

            span {
                font-size: 30px;
            }
        }
    }
}