.how-it-works {
    padding-top: 30px;

    @include mq('tablet', 'min') {
        padding-top: 50px;
    }

    @include mq('desktop', 'min') {
        padding-top: 50px;
    }

    h2 {
        font-size: 28px;

            @include mq('tablet', 'min') {
                font-size: 33px;
            }

            @include mq('desktop', 'min') {
                font-size: 40px;
            }

        span {
            display: block;
        }
    }

    .lead {
        margin-top: 20px;

        @include mq('desktop', 'min') {
            width: 42%;
            line-height: 1.5;
        }
    }

    .numbers {
        margin-top: 40px;

        @include mq('tablet', 'min') {
            display: flex;
            justify-content: space-between;
        }
        @include mq('desktop', 'min') {
            margin-top: 50px;
        }

        &-item {
            width: 100%;
            overflow: hidden;
            padding: 150px 50px 50px 50px;
            position: relative;
            margin-bottom: 40px;
            background: $grey;

            @include mq('tablet', 'min') {
                width: calc(33% - 15px);
            }

            @include mq('desktop', 'min') {
                background: transparent;
            }

            h3 {
                margin-left: -20px;
                margin-bottom: 30px;
            }

            p {
                line-height: 1.5;
            }

            a {
                margin-top: 30px;
                display: inline-block;
                position: relative;
                text-decoration: none;
                color: $dark;
                font-weight: 600;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    width: 100%;
                    height: 2px;
                    background: $dark;
                }
            }

            &:nth-child(1) {
                background: $yellow;
                color: $grey;

                a {
                    color: $grey;

                    &::before {
                        background: $grey;
                    }
                }

                &::before {
                    content: '01';
                    position: absolute;
                    top: -100px;
                    left: -40px;
                    color: $grey;
                    font-size: 200px;
                    font-weight: 600;
                }
            }

            &:nth-child(2) {
                &::before {
                    content: '02';
                    position: absolute;
                    top: -100px;
                    left: -40px;
                    font-size: 200px;
                    font-weight: 600;
                }
            }

            &:nth-child(3) {
                &::before {
                    content: '03';
                    position: absolute;
                    top: -100px;
                    left: -40px;
                    font-size: 200px;
                    font-weight: 600;
                }
            }
        }
    }
}