.rent {
    margin-top: 40px;
    padding-top: 30px;
    background: $grey;
    padding-bottom: 50px;


    @include mq('tablet', 'min') {
        margin-top: 50px;
        padding-top: 50px;
    }

    @include mq('desktop', 'min') {
        margin-top: 70px;
        padding-top: 50px;
    }

    h2 {
        font-size: 28px;

            @include mq('tablet', 'min') {
                font-size: 33px;
            }

            @include mq('desktop', 'min') {
                font-size: 40px;
            }

        span {
            display: block;
        }
    }

    &-container {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .item {
            width: 100%;
            background: #fff;
            box-shadow: 0 2.8px 2.2px rgba(0,0,0,.01),0 6.7px 5.3px rgba(0,0,0,.02),0 12.5px 10px rgba(0,0,0,.03),0 22.3px 17.9px rgba(0,0,0,.02),0 41.8px 33.4px rgba(0,0,0,.01),0 100px 80px rgba(0,0,0,.06);
            margin-bottom: 40px;

            @include mq('phablet', 'min') {
                width: calc(50% - 15px);
            }

            @include mq('tablet', 'min') {
                width: calc(33.3% - 15px);
            }


            .image {
                img {
                    width: 100%;
                    display: block;
                }
            }

            .title {
                p {
                    font-size: 15px;
                    font-weight: 600;
                    margin: 20px 20px 0 20px;
                }
            }

            .info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 20px;

                .price {
                    p {
                        font-size: 18px;
                        color: $yellow;
                        font-weight: 600;
                    }
                }

                .details {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }

    &-search {
        margin-top: 20px;

        @include mq('tablet', 'min') {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .search {
            @include mq('tablet', 'min') {
                width: 50%;
            }
        }


        input {
            min-height: 50px;
            width: 300px;
            border: 0;
            font-size: 16px;
            text-indent: 20px;
            background: #fafafa;
            width: 70%;
            border-radius: 0;

            &:focus {
                outline: none;
            }
        }

        button {
            background: $yellow;
            min-height: 50px;
            border: 0;
            padding: 0 30px;
            font-size: 16px;
            font-weight: 600;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            cursor: pointer;
            width: 30%;
            border-radius: 0;

            &:hover {
                background: darken($yellow, 5%);
            }
        }

        p {
            margin-top: 40px;
            text-align: center;
            font-weight: 600;

            @include mq('tablet', 'min') {
                margin-top: 0;
            }

            @include mq('desktop', 'min') {
                margin-left: 100px;
            }
        }
    }
}