.services {
    padding-top: 30px;

    @include mq('tablet', 'min') {
        padding-top: 50px;
    }

    @include mq('desktop', 'min') {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    h2 {
        font-size: 28px;

            @include mq('tablet', 'min') {
                font-size: 33px;
            }

            @include mq('desktop', 'min') {
                font-size: 40px;
            }

        span {
            display: block;
        }
    }

    .lead {
        margin-top: 20px;
        @include mq('tablet', 'min') {
            width: 42%;
            line-height: 1.5;
        }
    }

    &-container {
        margin-top: 30px;

       @include mq('desktop', 'min') {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        height: 100%;
       }

        .image {
            display: none;

            @include mq('desktop', 'min') {
                display: block;
                width: calc(50% - 15px);
                margin-left: -50px;

                img {
                    width: 100%;
                    display: block;
                }
            }
        }

        .services-items {
            align-self: stretch;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mq('desktop', 'min') {
                width: calc(50% - 15px);
            }

            .item {

                margin-bottom: 30px;

                @include mq('desktop', 'min') {
                    align-self: center;
                }

                h3 {
                    font-size: 25px;
                    margin-bottom: 20px;
                }

                p {
                    line-height: 1.5;
                }
            }
        }
    }
}